body
{
    color: rgb(38, 38, 43);
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    
    margin-left: 100px;
    margin-right: 200px;
}
#container
{
    width: 100%;
    padding: 1cm;
    border: 5px solid red;
    border-radius: 10px;
    margin-top: 50px;
}
#container h1
{
    font-size: 25px;
}
#container p
{
    text-align: center;
    text-decoration: double;

}